<h1>Criar Produto</h1>

<form action="/products/create" method="POST">

    <div class="form-control">

        <label for="title">Nome do produto:</label>
        <input type="text" name="title" placeholder="Digite o nome do Produto">

    </div>

    <div class="form-control">

        <label for="image">imagen do produto:</label>
        <input type="text" name="image" placeholder="Insira a URL da Imagen">

    </div>

    <div class="form-control">

        <label for="decription">Descriçãodo produto:</label>
        <textarea name="description" placeholder="Descrição do produto"></textarea>

    </div>

    <input type="submit" value="cadastrar" class="btn">

</form>